extends layout

block title
  title 音樂搜尋網

block content
  h1 音樂搜尋網
  p 請選擇搜尋的模式
  a(href='jianpu')
    button.button.blue 簡譜搜尋
  a(href='qbsh')
    button.button.cyan 哼唱搜尋
  p
  | 警告！我們將會儲存您在這個網頁所做的搜尋，作為研究用途。
