extends layout

block title
  title 簡譜空間

block content
  h1 歡迎來到簡譜空間
  p 本網站提供各種流行歌曲的簡譜，即使不知道歌名，也可以透過哼唱或者輸入簡譜的音符來搜尋到音樂
  p
    a.button.blue(href="jianpu") 簡譜搜尋
    a.button.cyan(href='qbsh') 哼唱搜尋
  p
  | 警告！我們將會儲存您在這個網頁所做的搜尋，作為研究用途。
