extends layout

block title
  title 簡譜搜尋結果

block content
  h1 簡譜搜尋結果
  form(method='GET' action='search')
    | 簡譜：
    input(name='jianpu' pattern='[0-9]*' required value=query)
    button.button.blue(type='submit') 搜尋
  ol
    for i in result
      li #{i.song.name}，配對分數：#{i.score.toFixed(2)}
