extends layout

block title
  title 簡譜搜尋 - 簡譜空間

block scripts
  script.
    function validateSearch() {
      var q = document.forms[0].jianpu.value;
      if (/[89]/.test(q)) {
        alert('8、9不是有效的簡譜音高');
        return false;
      }
      if (!/[1-7]/.test(q)) {
        alert('搜尋字串不能只包含休止符');
        return false;
      }
      return true;
    }

block content
  h1 簡譜搜尋
  p
    | 只要輸入簡譜的數字 1~7 就可以找到歌曲。
    br
    | 如小蜜蜂的簡譜是「533- 422- 1234 555-」，則可以搜尋：
    a(href=PREFIX+'/jianpu/search?jianpu=5334221234555') 5334221234555
    | 。
  p 站長小提醒：我想這個網站可能也找不到歌，因為目前我的網站也才100多首歌而已。
  p 站長小提醒2：目前的搜尋系統假設輸入為首調唱名，如果您有絕對音感，請先把簡譜轉成C大調或a小調，再輸入簡譜。
  section.warning
    | 警告！使用本服務，表示您同意將您的查詢字串公開作為簡譜搜尋的資料集。我們不會公開您的IP位址。
    br
    a(href=PREFIX+'/pastQueries') 搜集的資料放在這裡
  form(method='GET' action=PREFIX+'/jianpu/search' onsubmit='return validateSearch()')
    | 簡譜：
    input(name='jianpu' pattern='[0-9]*' required)
    button.button.blue(type='submit') 搜尋
  p 簡譜對照表：
  table
    tbody
      tr
        td 唱名
        td Do
        td Re
        td Mi
        td Fa
        td Sol
        td La
        td Si
      tr
        td 簡譜
        td 1
        td 2
        td 3
        td 4
        td 5
        td 6
        td 7
