extends layout

block title
  title 搜尋紀錄

block content
  h1 搜尋紀錄
  div
    table(style='table-layout: auto;')
      thead
        tr(class='cyan-bg')
          th 查詢時間
          th 查詢
          th 結果
      tbody