extends layout

block title
  title 哼唱搜尋 - 簡譜空間

block scripts
  script(src='javascripts/libflac.min.wasm.js')

block content
  h1 哼唱搜尋
  p 請對著電腦的麥克風，哼出旋律10秒。請確保錄音環境是安靜的，本程式只支援沒有任何伴奏的哼唱聲音。
  p 站長小提醒：我想這個網站可能也找不到歌，因為目前我的網站也才100多首歌而已。
  section.warning
    | 警告！使用本服務，表示您同意將您的錄音公開作為哼唱搜尋的資料集。我們不會公開您的IP位址。
    br
    a(href=PREFIX+'/pastQueries') 搜集的資料放在這裡
  div.main-controls
    canvas.visualizer(height="120" width='600')
    div
      button#btnRecord.button.cyan 錄音
      button#btnStop.button.red 停止
    p
      | 上傳檔案(嚴禁上傳原曲！) 
      input#inFile(type='file')
      button#btnUpload.button.blue(onclick="uploadFile()") 上傳
  div.progress(style='margin-top:15px;margin-bottom:15px;')
    div.progress-bg
      div.progress-bar(style='width:0%')
    div#progressMessage(style='height:1em;')
  div.query-results
    table
      thead
        tr(class='cyan-bg')
          th 歌名
          th 歌手
          th(style='width:100px') 相似度
      tbody
  script(type="text/javascript" src="javascripts/record.js")
