extends layout

block title
  title 歌曲清單

block content
  h1 歌曲清單
  table
    thead.cyan-bg
      th 歌名
      th 歌手
      th 語言
    for song in Object.values(songs)
      tr
        td= song.name
        td= song.singer || '無'
        td= song.language || '無'
