extends layout

block title
  title 歌曲清單 - 簡譜空間

block content
  h1 歌曲清單
  form(action=PREFIX+'/songList/add' method='GET')
    p
      button.button.cyan 新增
  table
    thead.cyan-bg
      tr
        th 歌名
        th 歌手
        th 語言
    for song in Object.values(songs)
      tr
        td
          a(href=PREFIX+'/songList/'+song.id)= song.name
        td= song.singer || '無'
        td= song.language || '無'
