extends layout

block title
  title 新增歌曲 - 簡譜空間

block scripts
  script.
    // https://stackoverflow.com/questions/11076975/how-to-insert-text-into-the-textarea-at-the-current-cursor-position/34278578
    function insert(ch) {
      var elt = document.getElementsByName('jianpu')[0];
      if (elt.selectionStart != null) {
        var start = elt.selectionStart;
        var end = elt.selectionEnd;
        var txt = elt.value;
        elt.value = txt.substring(0, start) + ch + txt.substring(end, txt.length);
        elt.selectionStart = start + 1;
        elt.selectionEnd = start + 1;
        elt.focus();
      }
    }

block content
  h1 新增歌曲
  section.warning
    | 警告！如果您新增歌曲，您的IP位址將會公開紀錄在這首歌曲的修訂歷史中。
  form(method='POST')
    p 歌名：
      input(name='name' required)
    p 歌手：
      input(name='singer')
    p 語言：
      input(name='language')
    p 簡譜（選擇性）：
      br
      button(type='button' onclick='insert("#")') #
      button(type='button' onclick='insert("\'")') '
      button(type='button' onclick='insert(",")') ,
      button(type='button' onclick='insert("-")') -
      button(type='button' onclick='insert("_")') _
      button(type='button' onclick='insert("=")') =
      button(type='button' onclick='insert(".")') .
      button(type='button' onclick='insert("|")') |
      textarea(
        name='jianpu'
        autocorrect='off'
        style='width:100%'
      )
    button.button.blue(type=submit) 儲存
