extends layout

block title
  - place='TODO'
  title 待辦事項 - 簡譜空間

block content
  h1 待辦事項
  for item in Object.values(todos)
    section
      h2= item.title
      div 建立時間：
        span.date= +item._id.getTimestamp()
      div 修改時間：
        span.date= +item.modifyDate
      div 狀態：#{item.status}
      a(href=PREFIX+'/TODO/edit?id='+item._id) 編輯
      p(style={'white-space':'pre-wrap'})= item.description
  script.
    document.querySelectorAll('.date').forEach(function(x){
      x.textContent = new Date(parseInt(x.textContent)).toLocaleString();
    });
