extends layout

block title
  - place='TODO'
  meta(name='robots' content='noindex,nofollow')
  title 新增待辦事項 - 簡譜空間

block content
  h1 新增待辦事項(限管理員使用)
  form(method='POST')
    p
      label(for='txtTitle') 標題：
      br
      input.wide#txtTitle(name='title' required autocomplete='off')
    p
      label(for='selStatus') 狀態：
      select#selStatus(name='status' autocomplete='off')
        for cho in 'Open,Committed,Wait,Done,Abandoned'.split(',')
          option(value=cho) #{cho}
    p
      label(for='txtDesc') 描述：
      br
      textarea#txtDesc.wide(name='description' required autocomplete='off')
    p
      label(for='txtPass') 請輸入管理員密碼：
      input#txtPass(name='password' type='password' required)
    p
      button.button.blue 確定
